<div class="course">
    <h1>{{course.title}}</h1>

    <img width="600px" src="{{course.img}}" alt="{{course.title}}"/>

    <p class="price price-big">{{course.price}}</p>

    <p>Author: <b> {{author}}</b></p>
</div>